#menu {
    position: fixed;
    left: 2px;
    top: 45%;
    width: 150px;
    margin: 0 0 0 0;
	padding: 10px 0px 10px 35px;
    font-weight: bold;
    font-size: large;
    text-align: left;
	text-indent: 10px;
	color: white;
   	border: 3px solid hsla(121, 73%, 17%, 0.5);
    /*border-right: none;*/
    border-radius: 10px 35px 10px 10px;
	/* Générateur de code couleur -- http://www.workwithcolor.com/hsl-color-picker-01.htm */
    background: hsla(121, 73%, 17%, 0.7);
	z-index: 2;
  }
 
#menu li {
    margin: 0; 
  }
  
#menu a {
    text-decoration: none;
	color: inherit;
  }